.MainMenu {
    background: #fff !important;
}

.MenuItem a:hover, a:active {
    background: #fff !important;
}
.NavbarMenuItem
.NavbarMenuItemTracking {
    text-transform: uppercase !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    padding: 0.4em 1.14em !important;
}

.NavbarMenuItemTracking input {
    width: 60%;
    min-width: 245px;
}
.Logo {
    display: block;
    zoom: 2.5;
}
.Level {
    display: none !important;
}
.Button {
    line-height: 1.2em !important;
}
.Item {
    margin: 0em 0em !important;
}

a:hover,
a:visited {
    color: rgba(0,0,0,.95)
}